#body {
  background-color: black;
  color: white;
}

#header {
  background-image: url("../../img/space.jpg");
}

#header a i {
  font-size: 24px;
  line-height: 24px;
}

#header a:hover {
  transform: scale(1.2);
}

#header a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: white;
}

#nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

#nav-links li {
  margin: 0 50px;
}

#logo {
  color: black;
  background-image: url("../../img/starcraft logo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25% auto;
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

#first {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
}

.description {
  text-align: center;
  max-width: 150%;
  margin-bottom: 120px;
  margin-left: 120px;
  font-size: 25px;
  margin-right: 120px;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 20;
  overflow: hidden;
  margin: 20px;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#tabs {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.tab {
  background-color: rgb(31, 31, 135);
  padding: 10px 50%;
  cursor: pointer;
  color: white;
  font-family: sans-serif;
  width: 500px;
}

.tab:hover {
  transform: scale(1.08);
  color: white;
}
@media screen and (min-width: 1600px) {
  #tab1 {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
  }

  #tab2 {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
  }

  #tab3 {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
  }
}

#description {
  text-align: center;
  margin-top: 20px;
  background-color: black;
  display: flex;
  margin-right: 200px;
  margin-left: 120px;
}
@media screen and (min-width: 1600px) {
  #terran-desc {
    text-align: left;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 280px;
    font-size: 20px;
  }

  #zerg-desc {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 200px;
    font-size: 20px;
  }

  #protoss-desc {
    text-align: left;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 150px;
    font-size: 20px;
    margin-right: 80px;
  }
}
#explain1 {
  text-align: center;
  font-size: 20px;
}

#explain2 {
  text-align: center;
  font-size: 20px;
}

#explain3 {
  text-align: left;
  font-size: 20px;
}

.des {
  font-family: sans-serif;
  text-align: center;
  margin-top: 20px;
}

#terran-img {
  width: 110%;
  height: 500px;
}

#zerg-img {
  width: 90%;
  height: 500px;
}

#protoss-img {
  width: 80%;
  height: 500px;
}

footer {
  display: flex;
  padding: 10px;
  background-image: url("../../img/space.jpg");
  flex-direction: column;
  align-items: center;
}

#newsletter-form label {
  margin-right: 10px;
}

#newsletter-form input[type="email"] {
  width: 250px;
  padding: 5px;
}

#newsletter-form button {
  padding: 5px 10px;
  background-color: grey;
  color: #fff;
  border: none;
  cursor: pointer;
}

#newsletter-form a {
  font-family: sans-serif;
}

#end {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 15px;
}

/*info.html*/
#history {
  margin: 100px;
  padding-left: 300px;
  padding-right: 300px;
}

#history h1 {
  font-size: 40px;
  text-align: center;
}

#history p {
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 30px;
}

#history ul {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

#history li {
  margin-bottom: 10px;
}

#history img {
  width: 35%;
  height: 30%;
  float: right;
  margin-left: 40px;
}

#history strong {
  color: grey;
  font-size: 22px;
}

#rule {
  margin: 100px;
  padding-left: 300px;
  padding-right: 300px;
}

#rule h1 {
  font-size: 40px;
  text-align: center;
}

#rule p {
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 40px;
}

#rule_para {
  margin-top: 50px;
}

#rule li {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

#rule strong {
  color: grey;
  font-size: 22px;
}

#tips {
  margin: 100px;
  padding-left: 300px;
  padding-right: 300px;
}

#tips h1 {
  font-size: 40px;
  text-align: center;
}

#tips li {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

#tips strong {
  color: grey;
  font-size: 22px;
}

#reviews {
  font-size: 45px;
  text-align: center;
}

.review-card {
  background-color: #333;
  color: white;
  padding: 20px;
  margin: 10px;
}

.add-review-container {
  text-align: center;
  margin: 30px;
  padding: 20px;
  background-color: #222;
}

.add-review-container label {
  display: block;
  margin: 5px 0;
}

.add-review-container input,
.add-review-container textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #444;
  color: white;
  border: none;
}

.add-review-container textarea {
  height: 100px;
}

#about:link {
  color: wheat;
  font-size: 20px;
}

#about:visited {
  color: wheat;
  font-size: 20px;
}

#about_h2 {
  text-align: center;
  padding: 100px;
  font-size: 50px;
}

#jiho {
  color: wheat;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#about_me {
  padding-top: 100px;
  padding-bottom: 20px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 30px;
}

#about_me p {
  max-width: 50%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#about_me img {
  max-width: 30%;
  float: right;
}

#why {
  padding-top: 200px;
  padding-bottom: 20px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 30px;
}

#why p {
  max-width: 50%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#ref {
  padding-top: 100px;
  padding-bottom: 20px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 30px;
}

#ref p {
  max-width: 50%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#ref a {
  text-decoration: none; /* Remove underline */
  color: wheat; /* Change link color to white */
  font-size: 20px; /* Change link font size */
}
